.container {
    align-items: stretch;

    bottom: 0;

    display: flex;

    flex: 1;

    flex-direction: row;

    left: 0;

    //position: fixed;

    right: 0;

    top: 0;
}

.simulator {
    align-items: center;

    display: flex;

    justify-content: center;

    flex: 1;
}

.form {
    background-color: #fff;

    border-radius: 20px;

    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

    padding: 40px;

    width: 500px;
}

.field {
    margin-bottom: 15px;

    label {
        display: block;
    }
}

.feedback,
.error-message {
    color: red;

    font-size: 11pt;
    font-style: italic;

    margin-top: 3px;
}

.result {
    border-top: 1px solid rgba(0,0,0,0.1);

    margin-top: 30px;
    
    padding-top: 20px;

    table {
        td {
            padding: 3px 10px 3px 0;

            &.label {
                font-weight: bold;
            }

            &.value {
                text-align: right;
            }
        }
    }
}

.history {
    background-color: rgba(0,0,0,0.05);

    overflow-y: auto;

    padding: 10px;

    width: 400px - 20px;
}

@media only screen and (max-width: 768px) {
    .pop-simulator {
        padding: 30px;

        width: 330px;
    }
}