<section class="container">
    <div class="simulator">
        <button class="small btn-open-history" (click)="toggleHistory()" *ngIf="isMobile && showButtonOpenHistory && !showHistory">Histórico</button>
        <div class="form">
            <h1>Simulador de Investimento CDB</h1>
            <div class="field">
                <label>Valor</label>
                <input currencyMask [(ngModel)]="value" />
                <div class="feedback" *ngIf="!feedback.value.valid">
                    {{ feedback.value.message }}
                </div>
            </div>
            <div class="field">
                <label>Meses</label>
                <input type="number" mask="99" max="12" min="2" [(ngModel)]="months" />
                <div class="feedback" *ngIf="!feedback.months.valid">
                    {{ feedback.months.message }}
                </div>
            </div>

            <button type="button" (click)="calculate()" [disabled]="calculating">
                {{ calculating ? 'Calculando...' : 'Calcular' }}
            </button>

            <div class="error-message" *ngIf="calculateErroMessage !== ''">
                {{ calculateErroMessage }}
            </div>

            <div class="result" *ngIf="cdb">
                <h2>Resultado do Investimento</h2>

                <table border="0" cellPadding="0" cellSpacing="0">
                    <tr>
                        <td class="label">Valor Investido</td>
                        <td class="value">{{ (cdb.value * cdb.months) | currency : 'R$' }}</td>
                    </tr>
                    <tr>
                        <td class="label">Valor Bruto</td>
                        <td class="value">{{ cdb.grossValue | currency : 'R$' }}</td>
                    </tr>
                    <tr>
                        <td class="label">Valor Líquido</td>
                        <td class="value">{{ cdb.netValue | currency : 'R$' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="bkg-history" *ngIf="isMobile && showHistory"></div>

    <div class="history" [ngClass]="{ 'is-mobile': isMobile }" *ngIf="!isMobile || (isMobile && showHistory)">
        <button class="btn-close-history" (click)="toggleHistory()" *ngIf="isMobile">X</button>
        <app-history #history></app-history>
    </div>
</section>