<div class="history">
    <div class="top">
        <div class="title">
            <h2>Histórico de Cálculos</h2>
        </div>
        <div>
            <button class="small" (click)="clearHistory()">Limpar</button>
        </div>
    </div>
    <ul>
        <li *ngFor="let his of history">
            <div>
                <label>Investimento Mensal</label>
                <span>{{ his.value | currency : 'R$' }}</span>
            </div>

            <div>
                <label>Meses</label>
                <span>{{ his.months }}</span>
            </div>

            <div>
                <label>Total Investimento</label>
                <span>{{ his.value * his.months | currency : 'R$' }}</span>
            </div>

            <div>
                <label>Valor Bruto</label>
                <span>{{ his.grossValue | currency : 'R$' }}</span>
            </div>

            <div>
                <label>Valor Líquido</label>
                <span>{{ his.netValue | currency : 'R$' }}</span>
            </div>
        </li>
    </ul>
</div>